<h1> Details Student </h1>
<p>
 <strong> Name: </strong>
 <%= @student.name %>
</p> 

<p>
 <strong> Class: </strong>
 <%= @student.class_university %>
</p> 
<p>
 <strong> Score: </strong>
 <%= @student.score %>
</p> 
<p>
 <strong> Learning Power: </strong>
 <%= @student.learning_power %>
</p> 
<%= link_to 'Edit', edit_student_path(@student) %> 
<%= link_to 'Back', students_path %>